.vs
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/Benchmarks/BenchmarkDotNet.Artifacts/
/.idea/
*.DotSettings.user
/VastlySim.Benchmarks/
/VastlySim.Tests/
/benchmarks/VastlySim.Benchmarks/BenchmarkDotNet.Artifacts/
/VastlySim.slnLaunch.user

